@import "~bootstrap";
@import "./vars";

@media (min-width: 768px) {
  .h-md-100 {
    height: 100vh;
    width: 100vh;
  }
}

.btn-round {
  border-radius: 30px;
}

.bg-indigo {
  background: #e89110;
}

.scrollable {
  overflow-y: auto;
  // overflow-x: auto;
}

.package {
  color: $packageColor;
}

.class {
  color: $classColor;
}

.class:hover {
  background-color: $classBackgroundColor;
  color: $classHoverColor;
}

.method {
  font-weight: bold;
  color: $methodColor;
}

.method:hover {
  font-weight: bold;
  background-color: $methodHoverBackgroundColor;
  color: $methodHoverColor;
}

.number {
  color: $numberColor;
}

.filter {
  margin: 16px;
}

.hidden {
  display: none;
}

.dark-background {
  background-color: $classHoverColor;
}

svg {
  @extend .package;
  fill: white;
}

.treeview {
  font-family: 'Fira Code', monospace;
  @extend .package;

}

.prolog {
  color: $prologColor;
}

.prettify-button {
  margin-right: 16px;
  float: right;
  color: $packageColor;
  background-color: $classHoverColor;
}

.prettify-button:hover {
  margin-right: 16px;
  float: right;
  color: $classHoverColor;
  background-color: $packageColor;
}

textarea {
  width: 95%;
  margin: 12px;
  box-sizing: border-box;
}
