@import "~bootstrap";
@media (min-width: 768px) {
  .h-md-100 { height: 100vh; }
}
.btn-round { border-radius: 30px; }
.bg-indigo { background: indigo; }
.text-cyan { color: #35bdff; }

.textarea
{
  width:100%;
}
.textwrapper
{
  border:1px solid #999999;
  margin:5px 0;
  padding:3px;
}
.formitem{
  display: block;
}
.scrollable{
  overflow-y: auto;
  overflow-x: auto;

}

.yellow{
  color: #ff5100;
}
.blue{
  color: #033758;
}

.filter{
  margin-left: 10px;
  margin-right: 10px;
}
