$_white : 'lol';
$methodColor : #669000;
$methodHoverColor : #133b03;
$methodHoverBackgroundColor : #61dafb;

$numberColor: #F78C6C;
$packageColor: #F7D186;
$classColor: #7BA2F4;
$classBackgroundColor: #d8dde8;
$classHoverColor: #011627;
$prologColor: #C16BF6;


@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');
